



        finit 
                
        fld qword num
                
        fist integer


        

call str
call print 
        mov ax,4c00h
int 21

str:
        
        mov bp,offset integer        
        mov al,cs:[bp]
        mov bp,offset lili
        clc
        add al,30h
        mov cs:[bp],al
        ret

print:
       mov ax,3 
int 10h
        mov bp,offset lili
        mov cx,1
        mov dh,0
        mov bl,70h
        mov ah,13h
        mov al,0
        mov bh,0
        mov dl,0
        
int 10h
ret


integer dw      0,0,0,0
lili    db      "0"
num     dq      $5.00











